* {
  text-align: center;
  font-family: Helvetica;
}
.design  {
  color: white;
  background-image: url("../images/building.png");
}
a {
  color: white;
  font-size: 18px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h3, h5 {
  font-weight: bold;
}
h3 {
  font-size: 32px;
}
h5 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
